<style>
      .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 5rem;
      }
      .form a{
        text-decoration: underline!important;

      }
      .form a:hover{
        transform: (scale(1.1));
      }
      h2{
        text-align: center;
      }

</style>
{%extends 'todo_app/base.html'%}
{% block baseblock%}
<h2>Create an account and join us.</h2>
<div class="form">
    <form action="" method="POST">
    {%csrf_token%}
    {{form.as_p}}
   <div class="submit"><input type="submit" value="Login" class="btn btn-warning fw-bold"></div>
</form>

<div class="signin"><p>Already have an account  <a href="{% url 'login'%}">Login</a></p></div>
</div>

{%endblock%}